{% extends 'base.html' %}

<!-- Title -->
{% block title %} Админ-панель {% endblock %}

<!-- Content -->
{% block content %}
    {% if 'name' not in session or (session['name'] != 'Kinder' and session['name'] != 'Antonio_Lucchetti' and session['name'] != 'Johnny_Lucchetti') %}
        <div class="alert alert-danger" role="alert">
            <span style="color: #d11913;">У Вас нет доступа к данной странице!</span>
        </div>
    {% else %}
        {% if type_ == 'acn' %}
            <nav class="nav nav-pills flex-column flex-sm-row">
                <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="{{ url_for('admin.admin_panel_news') }}">Новости</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="{{ url_for('admin.admin_panel_site_settings') }}">Настройки сайта</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="{{ url_for('admin.admin_panel_table_settings') }}">Настройки таблиц</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="{{ url_for('admin.admin_panel_accounts') }}">Аккаунты</a>
            </nav>
        {% elif type_ == 'ass' %}
            <nav class="nav nav-pills flex-column flex-sm-row">
                <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" href="{{ url_for('admin.admin_panel_news') }}">Новости</a>
                <a class="flex-sm-fill text-sm-center nav-link active" href="{{ url_for('admin.admin_panel_site_settings') }}">Настройки сайта</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="{{ url_for('admin.admin_panel_table_settings') }}">Настройки таблиц</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="{{ url_for('admin.admin_panel_accounts') }}">Аккаунты</a>
            </nav>
        {% elif type_ == 'ats' %}
            <nav class="nav nav-pills flex-column flex-sm-row">
                <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" href="{{ url_for('admin.admin_panel_news') }}">Новости</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="{{ url_for('admin.admin_panel_site_settings') }}">Настройки сайта</a>
                <a class="flex-sm-fill text-sm-center nav-link active" href="{{ url_for('admin.admin_panel_table_settings') }}">Настройки таблиц</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="{{ url_for('admin.admin_panel_accounts') }}">Аккаунты</a>
            </nav>
        {% elif type_ == 'aa' %}
            <nav class="nav nav-pills flex-column flex-sm-row">
                <a class="flex-sm-fill text-sm-center nav-link" aria-current="page" href="{{ url_for('admin.admin_panel_news') }}">Новости</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="{{ url_for('admin.admin_panel_site_settings') }}">Настройки сайта</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="{{ url_for('admin.admin_panel_table_settings') }}">Настройки таблиц</a>
                <a class="flex-sm-fill text-sm-center nav-link active" href="{{ url_for('admin.admin_panel_accounts') }}">Аккаунты</a>
            </nav>
        {% else %}
            <nav class="nav nav-pills flex-column flex-sm-row">
                <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="{{ url_for('admin.admin_panel_news') }}">Новости</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="{{ url_for('admin.admin_panel_site_settings') }}">Настройки сайта</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="{{ url_for('admin.admin_panel_table_settings') }}">Настройки таблиц</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="{{ url_for('admin.admin_panel_accounts') }}">Аккаунты</a>
            </nav>
        {% endif %}
        <br>
        {% block nav_page %} {% endblock %}
    {% endif %}
{% endblock%}