{% extends 'admin_base.html' %}

<!-- Title -->
{% block title %} Админ-панель | Настройки сайта {% endblock %}

<!-- Content -->
{% block nav_page %}
    <div class="col">
        <div class="card mb-4 shadow-sm">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            <span style="color: #d11913;">{{ message }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <h1>В разработке...</h1>
        </div>
    </div>
{% endblock%}