a {
    text-decoration: none;
}

.nav_btn {
    color: #212529;
}
.nav_btn:hover {
    background: #0d6efd;
    color: #fff;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    z-index auto;
}

span.news_date {
    display: inline-block;
    font-size: 90%;
    color: #969696;
    /* padding: 2px; Поля вокруг текста
    border: 1px solid #0d6efd;
    border-radius: 3px; */
    z-index: auto;
}

img.news_image {
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,1.5);
    z-index: auto;
}

.server_monitor {
    text-align: right;
    position: absolute;
    right: 3%;
    /* padding: 4px;
    border: 1px solid #0d6efd;
    border-radius: 3px; */
    z-index: auto;
}

.connect_btn {
    display: block;
}

.news_text {
    text-align: left;
    margin-left: 1.5%;
    margin-right: 1.5%;
    letter-spacing: 1.5px;
    white-space: pre-wrap;
    z-index: auto;
}

.cp_login {
    padding: 15px;
    z-index: auto;
}

.userinfo {
    display: table;
    z-index: auto;
}

.cp_rounded {
    display: inline-block;
    position: absolute;
    text-align: left;
    counter-reset: li;
    list-style: none;
    /* right: 50%; */
    font: 14px "Trebuchet MS", "Lucida Sans";
    text-shadow: 0 1px 0 rgba(255,255,255,.2);
}
.cp_column {
    display: inline-block;
    margin: .1em;
    position: relative;
    padding: .4em;
    background: #0d6efd;
    color: #fff;
    border-radius: .3em;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.admin_panel_db_settings {
    display: inline-block;
    z-index: auto;
}